@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tlks14');
  src:  url('fonts/icomoon.eot?tlks14#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tlks14') format('truetype'),
    url('fonts/icomoon.woff?tlks14') format('woff'),
    url('fonts/icomoon.svg?tlks14#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-triangle:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-bell:before {
  content: "\e902";
}
.icon-add-character:before {
  content: "\e903";
}
.icon-add-text:before {
  content: "\e904";
}
.icon-back-arrow-circular:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-create-relation:before {
  content: "\e907";
}
.icon-delete:before {
  content: "\e908";
}
.icon-left-arrow:before {
  content: "\e909";
}
.icon-download:before {
  content: "\e90a";
}
.icon-edit:before {
  content: "\e90b";
}
.icon-he:before {
  content: "\e90c";
}
.icon-other:before {
  content: "\e90d";
}
.icon-layers:before {
  content: "\e90e";
}
.icon-pencil-black:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-relation-books:before {
  content: "\e911";
}
.icon-remove-image:before {
  content: "\e912";
}
.icon-search:before {
  content: "\e913";
}
.icon-she:before {
  content: "\e914";
}
.icon-verified:before {
  content: "\e915";
}
.icon-book-orientation:before {
  content: "\e916";
}
.icon-book-orientation2:before {
  content: "\e917";
}
.icon-logout:before {
  content: "\e918";
}
.icon-relation:before {
  content: "\e919";
}
.icon-unblock:before {
  content: "\e91a";
}
.icon-block:before {
  content: "\e91b";
}
.icon-steps:before {
  content: "\e91c";
}
.icon-relation-characters:before {
  content: "\e91d";
}
.icon-close-bar:before {
  content: "\e91e";
}
.icon-right-arrow:before {
  content: "\e91f";
}
.icon-down-arrow:before {
  content: "\e920";
}
.icon-checked:before {
  content: "\e921";
}
.icon-associated:before {
  content: "\e922";
}
.icon-attached:before {
  content: "\e923";
}
