//Fonts
$font-main: 'nunitosans';
$font-main__light: 'nunitosans-light';
<<<<<<< HEAD
$font-head: 'madera';
=======
$font-head: 'madera';

//Colors
$white: #ffffff;
$black: #020202;

$color-text: #404040;
$color-text__light: #bdc4e0;
$color-text__lightest: #eceef7;
$color-popup-hover: #a7abb2;

$color-link: blue;
$color-link__hover: $color-link + 40 ;

$color-shadow__dark: rgba(198, 205, 231, 0.322);
$color-shadow: rgba(188, 188, 189, 0.6);
$color-shadow__light: rgb(158, 158, 158);
$color-shadow__darker: rgba(0, 0, 0, 0.329);
$color-shadow__sortable: rgba(239, 240, 241, 0.85);

$color-input: #b1b1b4;
$color-panel: #edeef2;
$color-border: #a8afcc;
$color-border-light:#d7d8db;
$color-icon: #b5bcd6;
$color-icon__grey: #bcbcbd;
$color-sortable: #a7b3e3;


// Backgrounds
$background-main: #f6f7fb;
$background-light: #f9f9f9;
$background-swich: #dddee1;
$background-filters: #f1f2f6;
$background-sortable: #eff0f1;

//Buttons
$btn-width: 3.3125rem;
$btn-height: 3.3125rem;

>>>>>>> 8b763406ed3922d672ba51dfa7389080b627c1d1
